.navbar {
  position: sticky;
  top: 0;
  left: 0;

  width: 100vw;
  height: fit-content;

  z-index: 100;
  background-color: $primary;
  box-shadow: $shadow-medium;

  display: flex;
  justify-content: space-between;
  align-items: center;

  div {
    margin: 0.5rem 1rem;
  }

  &--left {
    display: flex;
    gap: 1rem;
  }
}
